<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="intro">
        <h1>The Yunus Microfinance Initiative</h1>
        <h4>Created by Team Gucci-Finance</h4>
    </div>

    <ion-item-divider></ion-item-divider>

    <div class="Mebmers"
    <div class="Member1">
      <h5> Mehdi Naderi Varandi</h5>

      <ion-item>
        <ion-label>
          <picture>
            picture
          </picture>
        </ion-label>
      </ion-item>

      </div>

      <div class="Member2">
        <h5> Jeffrey Tse</h5>

        <ion-item>
          <ion-label>
            <picture>
              picture
            </picture>
          </ion-label>
        </ion-item>


        </div>

        <div class="Member3">
          <h5> Fang</h5>

          <ion-item>
            <ion-label>
              <picture>
                picture
              </picture>
            </ion-label>
          </ion-item>

          </div>

          <div class="Member4">
            <h5> James Chalk</h5>

            <ion-item>
              <ion-label>
                <picture>
                  picture
                </picture>
              </ion-label>
            </ion-item>

            </div>

            <div class="Member5">
              <h5> Sophie Norman</h5>

              <ion-item>
                <ion-label>
                  <picture>
                    picture
                  </picture>
                </ion-label>
              </ion-item>

              </div>
              </div>


</ion-content>
