<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="intro">
        <h1>The Yunus Microfinance Initiative</h1>
        <h4>Created by Team Gucci-Finance</h4>
    </div>

    <ion-item-divider></ion-item-divider>

    <ion-grid>
        <ion-row>

          <ion-col>
            <div>
              <ion-card>
                 <img src="../../assets/profiles/sophie.jpg" />
                 <ion-card-header>
                   <ion-card-subtitle>Back-End Engineer</ion-card-subtitle>
                   <ion-card-title>Sophie Norman</ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                   Description
                 </ion-card-content>
             </ion-card>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-card>
                 <img src="../../assets/profiles/james.jpg" />
                 <ion-card-header>
                   <ion-card-subtitle>Back-End Engineer</ion-card-subtitle>
                   <ion-card-title>James Chalk</ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                   Description
                 </ion-card-content>
             </ion-card>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-card>
                 <img src="../../assets/profiles/fang.jpg" />
                 <ion-card-header>
                   <ion-card-subtitle>Back-End Engineer</ion-card-subtitle>
                   <ion-card-title>Phattharaporn Singkanipa</ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                   Description
                 </ion-card-content>
             </ion-card>
            </div>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <div>
              <ion-card>
                 <img src="../../assets/profiles/mehdi.jpg" />
                 <ion-card-header>
                   <ion-card-subtitle>Front-End Engineer</ion-card-subtitle>
                   <ion-card-title>Mehdi Naderi Varandi</ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                   Literally the sexiest man alive
                 </ion-card-content>
             </ion-card>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-card>
                 <img src="../../assets/profiles/jeffrey.jpg" />
                 <ion-card-header>
                   <ion-card-subtitle>Front-End Engineer</ion-card-subtitle>
                   <ion-card-title>Jeffrey</ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                   Description
                 </ion-card-content>
             </ion-card>
            </div>
          </ion-col>

        </ion-row>

    </ion-grid>


</ion-content>
