.intro{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.finalRow ion-card{
  width: 63%;
  margin-bottom: 15%;
  margin-left: 20%;
  margin-right: 0%;
}

ion-grid ion-card{
  height: 100%;
}

ion-card-title{
  font-size: 1.1em;
}

.finalRow{
  margin: 0 auto;
  width: 95%;
  border: 2px solid black;
  justify-content: center;
}



.Members{
  display: inline-block;
  width: 100%;
}

.Member1{
  width: 50%;
  margin: 20 auto;
  margin-top: 1%;
  padding: 20px;
  padding-bottom: 4%;
  border: 2px solid grey;
}

.Member2{
  width: 50%;
  margin: 20 auto;
  margin-top: 1%;
  padding: 20px;
  padding-bottom: 4%;
  border: 2px solid grey;
  display: inline-block; vertical-align: top;
}

.Member3{
  width: 50%;
  margin: 20 auto;
  margin-top: 1%;
  padding: 20px;
  padding-bottom: 4%;
  border: 2px solid grey;

}

.Member4{
  width: 50%;
  margin: 20 auto;
  margin-top: 1%;
  padding: 20px;
  padding-bottom: 4%;
  border: 2px solid grey;
  display: inline-block; vertical-align: top;
}

.Member5{
  width: 50%;
  margin: 20 auto;
  margin-top: 1%;
  padding: 20px;
  padding-bottom: 4%;
  border: 2px solid grey;
}
