<ion-header>
  <ion-toolbar>
    <ion-title>
      Finances
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="intro">
    <h1>The Yunus Microfinance Initiative</h1>
    <h4>Created by Team Gucci-Finance</h4>
  </div>

  <ion-item-divider></ion-item-divider>

  <div class="apply">
    <h5> Please input information regarding yourself for your microcredit</h5>

    <ion-item>
      <ion-label position="floating">Full Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Current Residence</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <div class="ion-text-center"> <!-- Button that allows users to narrow down search criteria -->

      <ion-button shape="round">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Apply
      </ion-button>

    </div>

  </div>












</ion-content>
