.intro{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.apply{
  width: 95%;
  margin: 0 auto;
  margin-top: 1%;
  padding: 10px;
  padding-bottom: 5%;
  border: 2px solid grey;
}

.apply ion-item{
  margin-bottom: 1%;
}

.positionButton{
}
