<ion-header>
  <ion-toolbar>

    <div id="toolbar"> <!-- Toolbar for the page - includes titles, links, logos and etc -->
      <a id="githublogo" href="https://github.com/MehdiNV/yunus-finance"> <!-- Icon and link for Ambitia's LinkedIn page -->
        <img id="github-Icon"
        src="../../assets/img/github.png" width="35"/>
      </a>

      <ion-title> Home Page </ion-title> <!-- Title for the page -->

      <a id="devpostlogo" href="https://durhack2019.devpost.com/"> <!-- Icon and link for Ambitia's LinkedIn page -->
        <img id="devpost-Icon"
        src="../../assets/img/index.png" width="35"/>
      </a>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="intro">
    <h1>The Yunus Microfinance Initiative</h1>
    <h4>Created by Team Gucci-Finance</h4>
  </div>

  <ion-item-divider></ion-item-divider>

  <div class="apply">
    <h5> Please input information regarding yourself for your microcredit</h5>

    <ion-item>
      <ion-label position="floating">Full Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Current Residence</ion-label>
      <ion-input [(ngModel)]="residence"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Native Language</ion-label>
      <ion-input [(ngModel)]="nativeLanguage"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email (Optional)</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Application Summary</ion-label>
      <ion-input [(ngModel)]="summary"></ion-input>
    </ion-item>

    <div class="ion-text-center"> <!-- Button that allows users to narrow down search criteria -->


      <ion-button shape="round" (click)="applyLoan()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Apply
      </ion-button>

    </div>

  </div>












</ion-content>
