<ion-header>
  <ion-toolbar>

    <div id="toolbar"> <!-- Toolbar for the page - includes titles, links, logos and etc -->
      <a id="githublogo" href="https://github.com/MehdiNV/yunus-finance"> <!-- Icon and link for Ambitia's LinkedIn page -->
        <img id="github-Icon"
        src="../../assets/img/github.png" width="35"/>
      </a>

      <ion-title> Profile </ion-title> <!-- Title for the page -->

      <a id="devpostlogo" href="https://durhack2019.devpost.com/"> <!-- Icon and link for Ambitia's LinkedIn page -->
        <img id="devpost-Icon"
        src="../../assets/img/index.png" width="35"/>
      </a>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">

    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Toggle Dark Theme
    </ion-label>

    <ion-toggle id="themeToggle" slot="end" (click)="clickToggle()"></ion-toggle>

  </ion-item>

</ion-content>
